[submodule "glad"]
    path = vendor/glad
    url = https://github.com/Dav1dde/glad.git
[submodule "learnopengl"]
    path = vendor/learnopengl
    url = https://github.com/JoeyDeVries/LearnOpenGL.git
[submodule "libpng"]
    path = vendor/libpng
    url = https://github.com/glennrp/libpng.git
[submodule "soil"]
	path = vendor/soil
    url = https://github.com/paralin/soil.git
[submodule "zlib"]
	path = vendor/zlib
    url = https://github.com/madler/zlib.git
