*.css linguist-detectable=false
*.java linguist-detectable=false
*.python linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false  
*.xml linguist-detectable=false 
*.h linguist-detectable=true
*.cpp linguist-detectable=true
*.rb linguist-language=C++
